<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{profile.user.username}}'s Profile</title>
</head>
<body>
    <h1>{{profile.user.username}}</h1>
    <b>Height:</b> {{profile.height}} <br />
    <b>Weight:</b> {{profile.weight}}
    <h3>Last day:</h3>
    <a href="" class="btn">Last day</a>, total of last_day.total_calories
    <h3>Last activity:</h3> 
    Activity.name on activity.date and activity.time, activity.quantity activity.unit
    <h3>Last measurements:</h3>
    <ul><b>Arm:</b> 0 cm </ul>
    <ul><b>Chest:</b> 0 cm </ul>
    <ul><b>Stomach:</b> 0 cm </ul>
    <ul><b>Waist:</b> 0 cm </ul>
</body>
</html>